# numerics
numpy
scipy
statsmodels
pandas
scikit-learn
scikit-image
cupy-cuda12x
optuna
kaleido
psutil
casadi
torch

# plotting
matplotlib
seaborn

# various
sympy
tabulate
PyYAML
h5py
geopandas
descartes
tables
imageio-ffmpeg
plotly
path
openpyxl